<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments::header"></head>
<body>
    <div class="fluid-content">
    	<nav th:replace="fragments::lang-nav"></nav>
    	<div th:replace="fragments::messages"></div>
    	<div class="row">
    		<div class="col-12">
    			<form th:action="@{|/language/update/${language.id}|}" th:object="${langauge}" method="POST">
    			
    				<input type="text" th:field="*{name}" placeholder="Name" th:errorclass="input_error_highlight">
    				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error_message"/>
    				
	    			<input type="text" th:field="*{creator}" placeholder="Creator" th:errorclass="input_error_highlight">
	    			<p  th:if="${#fields.hasErrors('creator')}" th:errors="*{creator}" class="error_message"/>
	    				
	    			<input type="text" th:field="*{currentVersion}" placeholder="Current Version" th:errorclass="input_error_highlight">
	    			<p  th:if="${#fields.hasErrors('currentVersion')}" th:errors="*{currentVersion}" class="error_message"/>
	    				
	    			<button type="submit">Submit</button>
    			</form>
    		</div>
    	</div>
    </div>
</body>
</html>