<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>The Code</title>
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	    <script type="text/javascript" src="/js/app.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<span>Your Gold: </span><span th:text="${gold}"></span>
			<div class="row">
				<div class="col-sm-3">
					<div class="card border-dark">
						<h3>Farm</h3>
						<p>(earns 10-20 gold)</p>
						<form action="/process" method="POST">
							<input type="hidden" name="location" value="farm">
							<input type="submit" value="Find Gold!">
						</form>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card border-dark">
						<h3>Cave</h3> 
						<p>(earns 5-10 gold)</p>
						<form action="/process" method="POST">
							<input type="hidden" name="location" value="cave">
							<input type="submit" value="Find Gold!">
						</form>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card border-dark">
						<h3>House</h3>
						<p>(earns 2-5 gold)</p>
						<form action="/process" method="POST">
							<input type="hidden" name="location" value="house">
							<input type="submit" value="Find Gold!">
						</form>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card border-dark">
						<h3>Casino!</h3>
						<p>(earns/takes 0-50 gold)</p>
						<form action="/process" method="POST">
							<input type="hidden" name="location" value="casino">
							<input type="submit" value="Find Gold!">
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<h3>Activity:</h3>
				<ul>
					<li th:each="activity : ${activities}" th:text="${activity}"></li>
				</ul>
			</div>
		</div>
	</body>
</html>